[Unit]
Description=Laundry Watcher

[Service]
ExecStart=/usr/local/bin/node /home/pi/laundry/watcher/index.js
Restart=always
RestartSec=10
#User=nobody
#Group=nobody
#Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production 
WorkingDirectory=/home/pi/laundry/watcher

[Install]
WantedBy=multi-user.target
